{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="d-grid gap-2 col-6 mx-auto bg-">
  {% if user.is_authenticated %}



  <form method="POST">
  
    {% csrf_token %}
    <input type="hidden" name="action" value="add_record">
    {{ form.Project_Title.label_tag }}
    <input type="text" class="form-control" name="Project_Title" >
    <br>
    {{ form.Project_Description.label_tag }}
    <textarea class="form-control" name="Project_Description" rows="4"></textarea>
    <br>
    {{ form.deadline.label_tag  }}
    {{ form.deadline}}<br>
    
  <br><br>
  <button type="submit" class="btn btn-primary col-md-5 col-sm-9">Add Project</button>
  </form>
  <br>  <br>
</div>
<div class = "col-md-6 offset-md-2 col-sm-9 ">

</div>
<div class = "col-md-6 offset-md-3 col-sm-9 ">
  <h4>Projects:</h4>

  {% for Pro_add_detail in Pro_add_details %}
  <div class="card border-secondary mb-3" style="max-width: 50rem;">
    <div class="card-header">

      <strong>
        {{Pro_add_detail.Project_Title}}</strong>
    </div>
    <div style="margin:20px ;">
      <p class="card-text">{{Pro_add_detail.Project_Description}}</p>
       {% if Pro_add_detail.deadline < now %} 
      <p style="color: red;">Deadline Reached!</p>
       {% endif %}
      <a href="{% url 'tasks' Pro_add_detail.id %}" class="btn btn-primary">Open</a>  
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ Pro_add_detail.id }}"> 
        Delete    </button>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ Pro_add_detail.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete the project "{{Pro_add_detail.Project_Title}}"
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form method="POST" action="{% url 'delete_project' Pro_add_detail.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>                
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>    
  {% endfor %}
</div> 


{% else %}
    <div class="container">
    <div class="row">
          
            <h1>Login</h1>
            <br>
            <br>
            <br>
            <form method="POST" action="{% url 'home' %}">
              {% csrf_token %}
              <input type="hidden" name="action" value="login">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
                
              </form>
    </div>
    </div>
</div>

{% endif %}
{% endblock %}
