{% extends 'base.html' %}
{% block content %}
<div class = "col-md-6 offset-md-3 col-sm-9 ">
<br>
<br>
<form method="POST">
  
    {% csrf_token %}
    <input type="hidden" name="action" value="add_record">
    {{ form.Project_Title.label_tag }}
    <input type="text" class="form-control" name="Project_Title" value="{{ form.Project_Title.value }}">
    <br>
    {{ form.Project_Description.label_tag }}
    <textarea class="form-control" name="Project_Description" rows="4">{{ form.Project_Description.value }}</textarea>
    <br>
 
  <button type="submit" class="btn btn-primary ">Update</button>

</form>
{% endblock %}